body
{
 background-color:lightcyan;
 color:black;
 font-family:verdana;
}
p
{
	background-color:hotpink;
	color:white;
align:center;
margin:20px;
}
h1
{
background-color:black;
color:white;
}


 